@import url(https://fonts.googleapis.com/css?family=Lato:400,100,900italic,900,700italic,700,300italic,400italic,300,100italic&subset=latin,latin-ext);


html,body {
  font-family: 'Lato', sans-serif;
  height:100%;
}

h1 {
  font-family: Arial,sans-serif
  font-size: 2em;
  color: #DDCCEE;
  margin-bottom: 2em;
  margin-top: 2em;
}

.lead {
	color:#DDCCEE;
}

#language {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 1000;
  color:#DDCCEE;
  margin-bottom: 1em;
}

.caret {
  font-size: 0.75em;
  display: inline;
}

img {
  margin-top: 2em;
  cursor: pointer;
}

hr {
  width: 50%;
}

small {
  font-size: 0.8em;
  font-weight: 100;
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#110022;
  color:#DDCCEE;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}
  